# Swift & Xcode Git Ignore

# Xcode
build/
DerivedData/
*.xcworkspace
!default.xcworkspace
xcuserdata/
*.xccheckout
*.xcuserstate

# Swift Package Manager
.build/
.swiftpm/
Package.resolved
Package.pins

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/
Carthage/Checkouts/

# Accio dependency management
Dependencies/
.accio/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output/

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# AppCode
.idea/

# macOS
.DS_Store
